body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1,
  h2,
  h3 {
    margin: 10px 0;
  }
  
  .movie-card {
    margin: 10px 0;
  }
  
  article {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  span {
    margin-right: 10px;
  }